* {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
}

.head-1 {
    width: 98%;
}

.left {
    margin-left: 7px;
    width: 64%;
}

.right {
    width: 482px;
}

/* .textarea {
    width: 63%;
} */

input {
    width: 97%;
    height: 70px;
    text-align: right;
}

.button {
    font-size: 19px;
    width: 212px;
    height: 81px;
    margin-top: 5px;
}

#deleteBtn {
    justify-self: center;
}

.deletebtn{
    
}

#historyDiv {
    text-align: end;
    overflow-y: scroll;
    margin-right: 33px;
    font-size: 20px;
    height: 540px;

}

